@import "include-media";
@import "~glightbox/dist/css/glightbox.css";

@import "fonts";
@import "normalize";
@import "variables";
@import "typography";

@import "layout/footer.scss";
@import "layout/header.scss";

@import "layout/textimage.scss";
@import "layout/text.scss";
@import "layout/HighScoreElement";
@import "layout/HighScorePage";

body{
    background-color: #001d2b;
}

.section {
    max-width: $maxWidth;
    margin: 0 auto;
}

.section_content{
    max-width: $maxWidthContent;
    margin: 0 auto;
}
